In [1]:
#Um Data Frame trata-se de uma coleção, composta por Índices, Colunas e Valores.

In [2]:
#Criando um DataFrame a partir de um dataset (dicionário de dados)

In [43]:
from pandas import DataFrame
import numpy as np
import re

Primos = {'Nomes': ['Arlon','Jean','Fernando'],
          'Idade': [23,21,26],
          'Altura':[1.73,1.76,1.70]}

indice = [np.arange(1, DFPrimos.shape[0]+1)] #criando um lista de índices

DFPrimos = DataFrame(Primos, columns= ['Nomes', 
                                       'Idade', 
                                       'Altura', 
                                       'Peso'], index= indice) #criando um data frame


DFPrimos['Nomes'] #Imprimindo uma coluna em específico

DFPrimos['Peso'] = np.arange(70, 73, 1) #Atribuindo valores a coluna 'Peso'

DFPrimos.describe() #Descrição dos valores

print(DFPrimos.dtypes['Altura']) #Imprimindo os tipos de ados

print(re.findall('\\D+', str(DFPrimos.dtypes['Altura']))[0])

DFPrimos.index #Imprimindo os índices

DFPrimos.columns #Imprimindo as colunas

DFPrimos.values #Imprimindo os valores

DFPrimos[['Nomes','Peso']] #Imprimindo os valores de duas colunas

float64
float

      Nomes  Peso
1     Arlon    70
2      Jean    71
3  Fernando    72

In [50]:
#Lendo Arquivos csv
import pandas as pd

arquivo = pd.read_csv('iris.csv', sep= ';')

DF = pd.DataFrame(arquivo)

DF.describe() #resumo estatístico do DataFrame

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [69]:
#Criando uma Time Series
date = pd.date_range('01/01/2016', periods= 10, freq='A')

In [64]:
import numpy as np

ts = pd.Series(np.random.randint(0, 500, len(date)), index= date)

In [65]:
ts

2016-12-31    418
2017-12-31    403
2018-12-31    193
2019-12-31    257
2020-12-31     67
2021-12-31     68
2022-12-31     11
2023-12-31    170
2024-12-31    171
2025-12-31    307
Freq: A-DEC, dtype: int32

In [70]:
#################################################################################
##                                                                             ##
##                            28 COMANDOS ÚTEIS PRA PANDAS                     ##
##                                                                             ##
#################################################################################
######### Fonte: https://paulovasconcellos.com.br/28-comandos-%C3%BAteis-de-pandas-que-talvez-voc%C3%AA-n%C3%A3o-conhe%C3%A7a-6ab64beefa93

In [71]:
#Importando a biblioteca pandas
import pandas as pd

In [72]:
#Série
#Series nada mais é que um array de 1 dimensão. Você pode considerar um Series também como uma coluna 
#de uma tabela. Exemplo:

serie = pd.Series(['a','b','c'], index=[1,2,3])
serie

1    a
2    b
3    c
dtype: object

In [75]:
#Data Frame
#Um DataFrame é simplesmente um conjunto de Series. Trata-se de uma estrutura de dados de 2 dimensões 
#— colunas e linhas — que transforma os dados em uma bela tabela. Exemplo/;
dicionario = {'Membros':['Paulo','João','Fernando'],
              'Setor':['GTI','RH','Financeiro'],
              'Salário':[1200, 5264.85, 56652.23]}
df = pd.DataFrame(dicionario)
df

    Membros   Salário       Setor
0     Paulo   1200.00         GTI
1      João   5264.85          RH
2  Fernando  56652.23  Financeiro

In [79]:
#Abrindo arquivo csv

arquivo = pd.read_csv('iris.csv', sep= ';', encoding='ISO-8859-1')

df_csv = pd.DataFrame(arquivo)

In [80]:
df_csv.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [228]:
#Removendo linhas pelo index
df_csv.drop([0, 1, 6])[:5]  #retirou as linhas dos índices 0, 1 e 6

   L. Sepala  C. Sepala  L.Petala  C.Petala  Classe   tipo
2        4.7        3.2       1.3       0.2  setosa  impar
3        4.6        3.1       1.5       0.2  setosa  impar
4        5.0        3.6       1.4       0.2  setosa  impar
5        5.4        3.9       1.7       0.4  setosa  impar
7        5.0        3.4       1.5       0.2  setosa  impar

In [244]:
#Removendo colunas utilizando axis=
df_csv.drop('tipo', axis=1)[2:5]

   L. Sepala  C. Sepala  L.Petala  C.Petala  Classe
2        4.7        3.2       1.3       0.2  setosa
3        4.6        3.1       1.5       0.2  setosa
4        5.0        3.6       1.4       0.2  setosa

In [101]:
#COLETANDO INFORMAÇÕES BÁSICAS DE MEU DATAFRAME

#quantidade de linhas e colunas #ÚTIL PRA CARALHO
df_csv.shape

#descrição dos índices
df_csv.index

#colunas do dataframe
df_csv.columns

#contagem de dados não nulos
df_csv.count()['Sepal.Length']

df_csv.count()

Sepal.Length    150
Sepal.Width     150
Petal.Length    150
Petal.Width     150
Species         150
dtype: int64

In [102]:
#Criando uma nova coluna em um DataFrame
df_csv['tipo'] = 0

In [106]:
#renomeando colunas de um data frame
df_csv.columns = ['L. Sepala','C. Sepala','L.Petala','C.Petala','Classe','tipo']

In [113]:
#soma dos valores de um data frame
df_csv.sum()['L. Sepala']

df_csv.sum()

L. Sepala                                                876.5
C. Sepala                                                458.6
L.Petala                                                 563.7
C.Petala                                                 179.9
Classe       setosasetosasetosasetosasetosasetosasetosaseto...
tipo                                                         0
dtype: object

In [114]:
#menor valor de um data frame
df_csv.min()

L. Sepala       4.3
C. Sepala         2
L.Petala          1
C.Petala        0.1
Classe       setosa
tipo              0
dtype: object

In [115]:
#maior valor de um csv
df_csv.max()

L. Sepala          7.9
C. Sepala          4.4
L.Petala           6.9
C.Petala           2.5
Classe       virginica
tipo                 0
dtype: object

In [147]:
#índice do menor valor
maior = df_csv['L. Sepala'].idxmax()

#apenas para confirmar
df_csv['L. Sepala'][maior]

7.9000000000000004

In [148]:
#índice do menor valor
df_csv['L. Sepala'].idxmin()

13

In [150]:
#resumo estatístico do dataframe
df_csv.describe()

        L. Sepala   C. Sepala    L.Petala    C.Petala   tipo
count  150.000000  150.000000  150.000000  150.000000  150.0
mean     5.843333    3.057333    3.758000    1.199333    0.0
std      0.828066    0.435866    1.765298    0.762238    0.0
min      4.300000    2.000000    1.000000    0.100000    0.0
25%      5.100000    2.800000    1.600000    0.300000    0.0
50%      5.800000    3.000000    4.350000    1.300000    0.0
75%      6.400000    3.300000    5.100000    1.800000    0.0
max      7.900000    4.400000    6.900000    2.500000    0.0

In [151]:
#média de valores
df_csv.mean()

L. Sepala    5.843333
C. Sepala    3.057333
L.Petala     3.758000
C.Petala     1.199333
tipo         0.000000
dtype: float64

In [153]:
#mediana de valores
df_csv.median()

L. Sepala    5.80
C. Sepala    3.00
L.Petala     4.35
C.Petala     1.30
tipo         0.00
dtype: float64

In [227]:
#aplicando função para retornar apenas valores pares 
def verificarPar(itens):
    if float(itens) % 2 == 0:
        return 'par'
    else:
        return 'impar'
        
df_csv['tipo'] = (df_csv['L. Sepala'].apply(verificarPar))
df_csv[:5]

#basicamente recebe:
#df.apply(função, dataframe)
#permite que cada elemento de uma função entre em uma função

   L. Sepala  C. Sepala  L.Petala  C.Petala  Classe   tipo
0        5.1        3.5       1.4       0.2  setosa  impar
1        4.0        3.0       1.4       0.2  setosa    par
2        4.7        3.2       1.3       0.2  setosa  impar
3        4.6        3.1       1.5       0.2  setosa  impar
4        5.0        3.6       1.4       0.2  setosa  impar

In [245]:
#MUITO IMPORTANTE

#Ordenada valores me ordem crescente
df_csv.sort_values(by= 'L. Sepala', ascending=False)[:5]

#ordenando os valroes de tamanho de sepala em ordem decrescente

     L. Sepala  C. Sepala  L.Petala  C.Petala     Classe   tipo
131        7.9        3.8       6.4       2.0  virginica  impar
135        7.7        3.0       6.1       2.3  virginica  impar
122        7.7        2.8       6.7       2.0  virginica  impar
117        7.7        3.8       6.7       2.2  virginica  impar
118        7.7        2.6       6.9       2.3  virginica  impar

In [187]:
#filtrando o dataframe para apenas retornar as versicolor
df_csv[df_csv['Classe'] == 'versicolor'].head()

    L. Sepala  C. Sepala  L.Petala  C.Petala      Classe   tipo
50        7.0        3.2       4.7       1.4  versicolor  impar
51        6.4        3.2       4.5       1.5  versicolor  impar
52        6.9        3.1       4.9       1.5  versicolor  impar
53        5.5        2.3       4.0       1.3  versicolor  impar
54        6.5        2.8       4.6       1.5  versicolor  impar

In [189]:
#filtrando o dataframe para apeans retornar as virginica
df_csv[df_csv['Classe'] == 'virginica'][:2] #fazendo um slice para retornar apenas duas linhas

     L. Sepala  C. Sepala  L.Petala  C.Petala     Classe   tipo
100        6.3        3.3       6.0       2.5  virginica  impar
101        5.8        2.7       5.1       1.9  virginica  impar

In [194]:
#filtrando apens petalas maiores que a sepalas em termos de comprimento
df_csv[df_csv['C. Sepala'] >= df_csv['C.Petala']][:5]

   L. Sepala  C. Sepala  L.Petala  C.Petala  Classe   tipo
0        5.1        3.5       1.4       0.2  setosa  impar
1        4.0        3.0       1.4       0.2  setosa    par
2        4.7        3.2       1.3       0.2  setosa  impar
3        4.6        3.1       1.5       0.2  setosa  impar
4        5.0        3.6       1.4       0.2  setosa  impar

In [206]:
#filtrando apenas setosas pares
setosas = df_csv[df_csv['Classe'] == 'setosa'][:5]
setosas[df_csv['tipo'] == 'par']

C:\Users\arlon\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  app.launch_new_instance()

   L. Sepala  C. Sepala  L.Petala  C.Petala  Classe tipo
1        4.0        3.0       1.4       0.2  setosa  par

In [225]:
#IMPORTANTE PRA PORRA

#selecionando linhas
df_csv.loc[range(0, 5)]['Classe']

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: Classe, dtype: object

In [226]:
df_csv.loc[2]['tipo']

'impar'