In [1]:
#Um Data Frame trata-se de uma coleção, composta por Índices, Colunas e Valores.

In [2]:
#Criando um DataFrame a partir de um dataset (dicionário de dados)

In [43]:
from pandas import DataFrame
import numpy as np
import re

Primos = {'Nomes': ['Arlon','Jean','Fernando'],
          'Idade': [23,21,26],
          'Altura':[1.73,1.76,1.70]}

indice = [np.arange(1, DFPrimos.shape[0]+1)] #criando um lista de índices

DFPrimos = DataFrame(Primos, columns= ['Nomes', 
                                       'Idade', 
                                       'Altura', 
                                       'Peso'], index= indice) #criando um data frame


DFPrimos['Nomes'] #Imprimindo uma coluna em específico

DFPrimos['Peso'] = np.arange(70, 73, 1) #Atribuindo valores a coluna 'Peso'

DFPrimos.describe() #Descrição dos valores

print(DFPrimos.dtypes['Altura']) #Imprimindo os tipos de ados

print(re.findall('\\D+', str(DFPrimos.dtypes['Altura']))[0])

DFPrimos.index #Imprimindo os índices

DFPrimos.columns #Imprimindo as colunas

DFPrimos.values #Imprimindo os valores

DFPrimos[['Nomes','Peso']] #Imprimindo os valores de duas colunas

float64
float

      Nomes  Peso
1     Arlon    70
2      Jean    71
3  Fernando    72

In [50]:
#Lendo Arquivos csv
import pandas as pd

arquivo = pd.read_csv('iris.csv', sep= ';')

DF = pd.DataFrame(arquivo)

DF.describe() #resumo estatístico do DataFrame

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [69]:
#Criando uma Time Series
date = pd.date_range('01/01/2016', periods= 10, freq='A')

In [64]:
import numpy as np

ts = pd.Series(np.random.randint(0, 500, len(date)), index= date)

In [65]:
ts

2016-12-31    418
2017-12-31    403
2018-12-31    193
2019-12-31    257
2020-12-31     67
2021-12-31     68
2022-12-31     11
2023-12-31    170
2024-12-31    171
2025-12-31    307
Freq: A-DEC, dtype: int32